/* cor-base(body e h2)
   cor-fundo-img (figure)
   cor-borda-img (figure)
*/
:root{
    --cor-base: #000000;
    --cor-fundo-img: #b0b1b3;
    --cor-borda-img: #adacac;
}

body {
    color: var(--cor-base);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;


}

h1 {
    background-image: url(../img/sobre-background.jpg);
}

h2 {
    border-bottom: 2px groove #333333;
}

figure {
    background-color: var(--cor-fundo-img);
    border: 1px solid var(--cor-borda-img);
    text-align: center;
}

figcaption {
    font-style: italic;
}